modules = ["python-3.11"]

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
TELEGRAM_BOT_TOKEN = "8539828929:AAG1LXux2vLISqxoNgjCUHymRxnP-LqlIVE"
ADMIN_USERNAME = "InvictumMurad"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Web App"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Telegram Bot"

[[workflows.workflow]]
name = "Web App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Telegram Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python bot.py"

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 5000
externalPort = 80
